<header class="container-fluid">
  <div class="row">
    <div class="col-5 text-center pt-5">
      <h1 class="mb-5">¡Bienvenido a Crystal Roleplay!</h1>
      <p>Un servidor creado por y para jugadores roleplayers, totalmente nuevo y en constante desarrollo.</p>
      <p>Adéntrate en San Andreas y crea tu propia historia, sé un pandillero, mafioso, empresario, policía, sanitario y todo lo que puedas imaginar.</p>
    </div>
    <div class="col-7">
      <img class="img-fluid" src="../../../../../assets/header.jpeg" alt="gta man in car">
    </div>
  </div>
</header>
